.card-right {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.overlay-right {
  width: 31%;
  background-color: rgb(58 48 83 / 57%);
  position: absolute;
  height: 380px;
  border-radius: 45px;
  z-index: 7;
  transition: all 0.2s linear;
}

.img-container-right {
  width: 50%;
  height: 550px;
}

.image-right {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}

.image-right img {
  width: 30%;
  border-radius: 45px;
  height: 380px;
  position: absolute;
  z-index: 6;
}

.overlay-right:hover {
  background-color: rgba(240, 248, 255, 0);
  transition: all 0.2s linear;
}

.overlay-right:hover+.image-right img:nth-last-of-type(1) {
  margin-right: -7%;
  transition: all 0.2s linear;
}

.image-right img:nth-last-of-type(1) {
  width: 130%;
  margin-left: -30%;
  height: 420px;
  margin-top: -6%;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
}

.text-container-right {
  width: 30%;
  text-align: start;
  z-index: 9;
}

.text-container-right p {
  padding: 10%;
  background: #433567;
  width: 100%;
  border-radius: 20px;
  z-index: 2;
  margin-left: 0%;
  color: #f4f4f4;
}

.text-container-right h2 {
  width: 100%;
  display: block;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.text-container-right h3 {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  color: #c3afff;
}

.text-container-right h4 {
  color: #c3afff;
  font-size: 120%;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.icons {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.icons svg {
  color: #f4f4f4;
  height: 30px;
  width: 55px;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .image-right img {
    width: 40%;
    height: 320px;
  }

  .overlay-right {
    width: 44%;
    height: 330px;
  }

  .image-right img:nth-last-of-type(1) {
    margin-right: -11%;
    height: 320px;
    margin-top: -5%;
  }

  .image-right {
    width: 100%;
    height: 350px;
  }

  .img-container-right {
    width: 60%;
    height: 450px;
  }

  .text-container-right h3 {
    font-size: 17px;
  }

  .text-container-right p {
    padding: 6%;
    background: #433567;
    width: 123%;
    border-radius: 20px;
    z-index: 2;
    margin-left: 0%;
    font-size: 14px;
  }

  .text-container-right h2 {
    font-size: 22px;
  }

  .text-container h4 {
    font-size: 115%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }

  .img-container-right {
    width: 69%;
    height: 475px;
  }

  .image-right img {
    width: 50%;
    height: 340px;
  }

  .overlay-right {
    width: 52%;
  }

  .image-right img:nth-last-of-type(1) {
    margin-left: -30%;
    height: 305px;
    margin-top: -3%;

  }

  .text-container-right h3 {
    width: 80%;
    text-align: start;
    display: block;
    margin-left: 7%;
    padding: 0px;
    font-size: 18px;

  }

  .text-container-right {
    width: 41%;
  }


  .text-container-right h2 {
    font-size: 125%;
    margin-left: 7%;
  }

  .text-container-right p {
    margin-left: 0%;
  }

  .card-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text-container-right h4 {
    text-align: start;
    font-size: 100%;
    width: 108%;
  }
}