.fixed-icons {
  width: 200px;
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  flex-direction: column;
  align-items: center;
}
.fixed-icons svg {
  font-size: 30px;
  color: #c3afff;
  padding-bottom: 10px;
  cursor: pointer;
}
.fixed-icons img {
  height: 150px;
}
.email-fixed {
  width: 200px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-fixed img {
  padding-bottom: 10px;
}
.email-fixed img:nth-last-of-type(1) {
  height: 150px;
  padding-bottom: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 190px;
  background-color: #785b96;
  width: 67px;
  padding: 1% 0% 1% 0%;
  margin-top: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.back-to-top svg {
  font-size: 18px;
  color: #f4f4f4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .fixed-icons,
  .email-fixed {
    width: 10px;
  }
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 80px;
    background-color: #785b96;
    width: 60px;
    padding: 1.5% 0% 1.5% 0%;
    margin-top: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}
